html::-webkit-scrollbar{
    width:16px;
    height: 16px;
}

html::-webkit-scrollbar-track{
    background-image:url("../jadavey91.github.io/img/tiger.jpg");
}

 html::-webkit-scrollbar-thumb{
    background-color:white;
    border-radius:10px;
} 

body{
    background-image: url("../jadavey91.github.io/img/IMG_20190528_192249.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color:darkcyan;
    margin-left: 60px;
    font-family: monospace;
    background-color: cornsilk;
    font-size: 60px;
    padding: 0px 0px 0px 0px;
    width: fit-content;
}

.preamble, .places, .musiclist {
    margin-left: 60px;
    font-family: monospace;
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    background-color: rgba(112, 128, 144, 0.5);
    width: fit-content;
}

/* .button{
    background-color: transparent;
    color:black;
    padding: 12px 28px;
    box-shadow: 10px 5px 5px black;
    border: 0;
    width: fit-content;
} */

.button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(235, 36, 36);
    width: fit-content;
}

.button:hover{
    background-image: url("../jadavey91.github.io/img/tiger.jpg");
    color:white;
    cursor: pointer;
}

.button::after{
    filter:invert(.9);
}

.button::after{
    background-image: url("../jadavey91.github.io/img/aphex.jpg");
    background-size: cover;
    background-attachment: fixed;
}